* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
    background: white;
    color: #2e3640;
    word-wrap: break-word;
}

a {
    text-decoration: none;
    color: #0095ff;
}

img {
    cursor: pointer;
}

.overlay {
    width:100%;
    height: 100vh;
    margin: 0 auto;
    position: fixed;
}

.bg {
    background: url('../assets/pictures/jpg/1.jpg') no-repeat 50% 50%;
    background-size: cover;
    max-width: 700px;
    width:100%;
    height: 100vh;
    margin: 0 auto;
}

.container {
    max-width: 700px;
    width:100%;
    height: 100vh;
    margin: 0 auto;
    position: relative;
}

.header {
    max-width: 700px;
    height: 70px;
    width: 100%;
    background: #464e65;
    color: #FFF;
    display: flex;
    position: fixed;
    text-align: center;
    z-index: 10;
}

.name {
    display: block;
    margin: auto;
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
}

.header__container {
    width: 100%;
    max-width: 700px;
    height: 70px;
    position: fixed;
    z-index: 10;
    display: flex;
    flex-direction: row;
}

.header__container img:hover {
    opacity: 0.8;
}

.arrow {
    display: block;
    transform: rotate(90deg);
    width: 30px;
    height: 20px;
    margin: auto auto auto 20px;
}

.header-icon {
    display: block;
    height: 30px;
}

.header-icon.house {
    margin: auto 25px auto auto;
    width: auto;
}

.header-icon:last-child {
    margin: auto 20px auto 0;
    width: 40px;
}

.text__container {
    text-align: center;
}

.text {
    margin: 10px auto 0;
    color: white;
    display: inline-block;
    padding: 5px 10px;
    background: rgba(46,54,64,0.4);
    border-radius: 50px;
}

.footer {
    max-width: 700px;
    width: 100%;
    position: fixed;
    bottom: 0;
    background: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
}

.field-wrapper {
    width: 90%;
    margin: auto;
    background: #f6f6f6;
    border: 1px solid #8a8d90;
    border-radius: 50px;
    padding: 5px 10px;
    max-height: 42px;
}

.field-text {
    outline: none;
    border: 0;
    width: 90%;
    background: none;
    margin: 5px 0;
    height: 20px;
    padding: 0 10px;
}

.field-icon {
    float: right;
    height: 30px;
    cursor: pointer;
    width: 30px;
}

.filed-link {
    margin: auto;
    cursor: pointer;
}

.field-btn {
    height: 34px;
    width: 40px;
}

#messages {
    margin: 0 0 60px;
    padding-top: 70px;
}

.avatar {
    display: inline-block;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    overflow: hidden;
    background: url("../assets/pictures/png/ava.png") no-repeat 50% 50%;
    background-size: cover;
}

.girl {
    margin-left: 15px;
    max-height: 220px;
    max-width: 220px;
    overflow: hidden;
}

.cloud {
    margin: 10px;
    min-height: 30px;
}

.cloud-text {
    position:relative;
    padding: 5px 15px;
    border-radius: 25px;
    background: white;
    display: inline-block;
    white-space: pre-wrap;
    max-width: 60%;
    margin-left: 15px;
}

.cloud-text:before {
    content: "";
    position: absolute;
    left: -0.5em;
    top: 0;
    width: 0.5em;
    height: 1em;
    transform: rotate(90deg);
    border-right: 0.5em solid white;
    border-bottom-right-radius: 1em 0.5em;
}

.cloud-time {
    color: #2e3640;
    font-size: 12px;
    display: inline-block;
    vertical-align: bottom;
    margin-left: 5px;
    opacity: 0.7;
}

.cloud-wrapper {
    text-align: right;
}

.my-cloud {
    margin: 10px;
    min-height: 30px;
}

.my-cloud-text {
    position:relative;
    padding: 5px 15px;
    border-radius: 25px;
    background: #b0f080;
    display: inline-block;
    white-space: pre-wrap;
    max-width: 60%;
}

.my-cloud-text:after {
    content: "";
    position: absolute;
    right: -0.5em;
    top: 0;
    width: 0.5em;
    height: 1em;
    transform: rotate(-90deg);
    border-left: 0.5em solid #b0f080;
    border-bottom-left-radius: 1em 0.5em;
}

.my-cloud-time {
    display: inline-block;
    color: #2e3640;
    font-size: 14px;
    margin-right: 5px;
    vertical-align: bottom;
}



@media screen and (max-width: 480px){

    .name {
        font-size: 28px;
    }

    .arrow {
        display: block;
        transform: rotate(90deg);
        width: 25px;
        height: 20px;
        margin: auto auto auto 10px;
    }

    .header-icon {
        display: block;
        height: 25px;
    }

    .header-icon.house {
        margin: auto 15px auto auto;
        width: auto;
    }

    .header-icon:last-child {
        margin: auto 10px auto 0;
        width: 30px;
    }

    .field-wrapper {
        width: 80%;
    }

    .field-text {
        width: 85%;
    }

    .avatar {
        display: block;
        margin-bottom: 5px;
    }

}